
.header__logo {
    width: 49px;
    height: 35px;
    display: flex;
    align-items: flex-end;
    margin-right: 81px;
}

.header__menu {
    display: none;
}

.header__logo-small {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #9C69E2;
    margin-right: 9px;
}

.header__logo-big {
    width: 20px;
    height: 35px;
    border-radius: 20px;
    background-color: #F063B8;
}

.header {
    display: flex;
    height: 60px;
    padding-top: 50px;
    align-items: center;
}

.header__nav ul{
    display: flex;
    align-items: center;
}

.header__nav-about a{
    color: var(--2, #212353);
    font-weight: 800;
    font-size: 16px;
}

.header__nav-item {
    margin-left: 40px;
}


.header__nav {
    padding-right: 418px;
}

