.content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content__header {
    font-size: 30px;
}

.content input {
    float: right;
    padding: 5px;
    font-size: 14px;
    height: 15px;
    margin-top: 7px; 
}

.content textarea {
    float: right;
    padding: 5px;
    font-size: 14px;
    height: 50px;
    margin-top: 7px;
}

.content__header, .content__name, .content__description, .content__cost, .content__cost, .content__submit, .content__animal-type-select {
    margin-top: 10px;
}

.content__animal-type-select {
    width: 100px;
    float: right;
    padding: 5px;
    font-size: 14px;
    height: 30px;
    margin-top: 7px; 
}

.content__submit {
    border: 0;
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
    width: 100px;
    height: 40px;
}

.content__submit:hover {background-color: darkblue}

.content__submit:active {
  background-color: darkblue;
  transform: translateY(4px);
}


.content__animal-type {
    width: 100%;
}



textarea {
    resize: inherit;
}

.content__cost-input {
    width: 175px;
}
